.Name {
    text-align: center;
    font-family: sans-serif;
}

.Title-Bar {
   background-color: #2e5f94;
   height: 10ch;
   padding-top: 1ch;
}

body {
    font-family: sans-serif;
 }

.form {
    display: grid;
}

 .fill-ins {
    grid-column-start: 1;
 }

 .dropdowns {
    grid-column-start: 2;
}

.output {
    text-align: center;
    outline: 10px;
    outline-color: black; 
    outline-style: auto; 
    height: 10ch; 
    padding-top: 2ch;
}

button {
    align-content: center;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 3px solid green;
}