.heading {
    text-align: center;
    font-family: sans-serif;
}

/* comment */

.Title-Bar {
    background-color: #2e5f94;
    height: 10ch;
    padding-top: 1ch;
}

body {
    font-family: sans-serif;
    align-items: center;
    display: grid;
 }

.checkbutton {
    font-size: 3rem;
    padding: 1rem;
    align-self: center;
    height: 50px;
    width: 200px;
    margin: 0;
    top: 50%;
    left: 50%;
}

.inputform {
    display: grid;
    align-items: center;
}

 .fill-ins {
    grid-column-start: 1;
    align-items: center;
 }

 .dropdowns {
    grid-column-start: 2;
    align-items: center;
}

.output {
    text-align: center;
    outline: 10px;
    outline-color: black; 
    outline-style: auto;  
    padding: 2rem;
    transform: translateY(100%);
}
