<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credit Card Pre-Approval Check</title>
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <section class="Title-Bar">
      <h1 class="heading">Credit Card Pre-Approval Check</h1>
    </section>

    <section class="form">
      <form action="/apply" method="post" id="creditcardcheck">
        <section class="fill-ins">
          <p>Age:<input name="Age" type="number" min="18" max="110"></p>
          <p>Debt:<input name="Debt" type="number"></p>
          <p>Years employed:<input name="YearsEmployed" type="number" min="0" max="100"></p>
          <p>Credit Score:<input name="CreditScore" type="number" min="300" max="850"></p>
          <p>ZIP Code:<input name="ZipCode" type="number" min="0" max="99999"></p>
          <p>Income:<input name="Income" type="number"></p>
        </section>

        <section class="dropdowns">
          <p>Gender:
            <select name="Gender" id="gender">
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>
          </p>
          <p>Married:
            <select name="Married" id="marriage">
              <option value="single">Single</option>
              <option value="married">Married</option>
              <option value="divorced">Divorced</option>
              <option value="widowed">Widowed</option>
            </select>
          </p>
          <p>Bank Customer:
            <select name="BankCustomer" id="Customer">
              <option value="none">Not a customer</option>
              <option value="customer">Customer</option>
              <option value="other">Other</option>
            </select>
          </p>
          <p>Education Level:
            <select name="EducationLevel" id="Education">
              <option value="none">No Schooling Completed</option>
              <option value="uphschool">Up to High School</option>
              <option value="somehschool">Some High School</option>
              <option value="hschoolgrad">High School Graduate or Equivalent</option>
              <option value="scollege">Some college</option>
              <option value="trade">Trade/Technical/Vocational training</option>
              <option value="associate">Assoiate Degree</option>
              <option value="bachelors">Bachelor's Degree</option>
              <option value="masters">Master's Degree</option>
              <option value="professional">Professional Degree</option>
              <option value="doctorate">Doctorate Degree</option>
              <option value="phd">Ph.D. or higher</option>
              <option value="othereducation">Other</option>
              <option value="pntseducation">Prefer not to state</option>
            </select>
          </p>
          <p>Ethnicity:
            <select name="Ethnicity" id="Ethnicity">
              <option value="white">White/Caucasian</option>
              <option value="black">Black or African American</option>
              <option value="asian">Asian</option>
              <option value="hispanic">Hispanic</option>
              <option value="hpi">Hawaiian/Pacific Islander</option>
              <option value="native">Native/Indigenous</option>
              <option value="mixed">Multiracial</option>
              <option value="otherethnicity">Other</option>
              <option value="pntsethnicity">Prefer not to state</option>
            </select>
          </p>
          <p>Prior Default:
            <select name="PriorDefault" id="prioDefault">
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select>
          </p>
          <p>Employed:
            <select name="Employed" id="Employed">
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select>
          </p>
          <p>Driver's License:
            <select name="DriversLicense" id="licensed">
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select>
          </p>
          <p>Citizenship:
            <select name="Citizen" id="Citizenship">
              <option value="citizen">Citizen</option>
              <option value="none">Not a Citizen</option>
              <option value="temp">Visa/Greencard Holder</option>
            </select>
          </p>
        </section>
        <input type="submit" value="Check for Qualification">
      </form>
    </section>

    <section class="output">{{preapproval_status}}</section>
  </body>
</html>
